#--------------------------------------------------------------------
# pbg_cn_adm Environment Configuration (example / template)
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

database.default.hostname = localhost
database.default.database = 'pbg_cn'
database.default.username = root
database.default.password = 'your_password'
database.default.DBDriver = MySQLi

# SERVER
# CI_ENVIRONMENT = production
# database.default.hostname = localhost
# database.default.database = 'pbg_cn'
# database.default.username = root
# database.default.password = 'your_password'
# database.default.DBDriver = MySQLi
# app.baseURL = 'http://42.125.249.227:85/'
