#--------------------------------------------------------------------
# pbg_cn Environment Configuration (example / template)
# Copy to .env and edit. Do not commit real passwords if the repo is public.
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# LOCAL
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = 'pbg_cn'
database.default.username = root
database.default.password = 'your_password'
database.default.DBDriver = MySQLi
database.default.charset = utf8mb4

database.draw.hostname = localhost
database.draw.database = 'powerball'
database.draw.username = root
database.draw.password = 'your_password'
database.draw.charset = utf8mb4

powerball.base_url = 'http://powerball.com:82/'
powerball.fetch_url = 'http://127.0.0.1:82/lottery/getDrawResult'
powerball.fetch_host = 'powerball.com'

app.timezone = Asia/Seoul
app.currency = USD
app.currency_symbol = '$'
app.default_machine = m01

#--------------------------------------------------------------------
# SERVER (comment LOCAL, uncomment here)
#--------------------------------------------------------------------

# database.default.hostname = localhost
# database.default.database = 'pbg_cn'
# database.default.username = root
# database.default.password = 'your_password'
# database.default.DBDriver = MySQLi
# database.default.charset = utf8mb4
#
# database.draw.hostname = localhost
# database.draw.database = 'powerball'
# database.draw.username = root
# database.draw.password = 'your_password'
# database.draw.charset = utf8mb4
#
# powerball.base_url = 'http://42.125.249.227/'
# powerball.fetch_url = 'http://127.0.0.1/lottery/getDrawResult'
# powerball.fetch_host = 'pbg-2.com'
#
# app.timezone = Asia/Seoul
# app.currency = USD
# app.currency_symbol = '$'
# app.default_machine = m01
